*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.black-nav{
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.content_list ul li{
  padding: 10px 20px;
}

.content_list ul li:nth-child(2n-1){
  background-color: #ddd;
}
