*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.black-nav{
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.list{
  margin-top: 30px;
  text-align:left;
  padding-left: 20px;
  padding-right: 20px;
}

.list p{
  margin: 10px 0;
}

.modal{
  padding: 20px;
  background: #eee;
  margin-top: 20px;
}
